.block{
  display: flex;
   justify-content: center; 
   margin: 50px;
}
.blockTitle{
  display: flex;
    justify-content: center;
    background-color: white;
    color: black;
    height: 100%;
    margin-top: -250px;
    border-radius: 10px;
    border: 1px solid whitesmoke;
}