header{
  display: flex;
}

.navbar-area[_ngcontent-ohl-c39] {
  position: absolute;
  height: auto;
  background-color: transparent;
  padding-top: 20px;
  padding-bottom: 20px;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  transition: .5s;
}

.luvion-nav[_ngcontent-ohl-c39] {
  background-color: transparent;
  padding: 0;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.navbar{
  display: flex;
  align-items: center;
}
.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

a {
  transition: .5s;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: ease;
  transition-delay: 0s;
  outline: 0!important;
}
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.luvion-nav[_ngcontent-ohl-c39] .navbar[_ngcontent-ohl-c39] .navbar-nav[_ngcontent-ohl-c39] {
  font-family: sans-serif;
  margin-left: auto;
}

.luvion-nav[_ngcontent-ohl-c39] .navbar[_ngcontent-ohl-c39] ul[_ngcontent-ohl-c39] {
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 0;
}

.ml-auto, .mx-auto {
  margin-left: auto!important;
}

.navbar-nav{
  display: flex;
  list-style: none;
}

ul {
  display: block;
  list-style-type: disc;
  margin-top: 0;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.luvion-nav[_ngcontent-ohl-c39] .navbar[_ngcontent-ohl-c39] .navbar-nav[_ngcontent-ohl-c39] .nav-item[_ngcontent-ohl-c39] {
  position: relative;
  padding: 10px 0;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

