.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
footer{
  display: block;
}
.footer-area[_ngcontent-ohl-c40] {
  padding-top: 80px;
  background-color: #070d13;
  position: relative;
}
.footer-area[_ngcontent-ohl-c40] .copyright-area[_ngcontent-ohl-c40] {
  border-top: 1px solid #192129;
  margin-top: 50px;
  padding-top: 25px;
  padding-bottom: 20px;
  text-align: center;
}
.footer-area[_ngcontent-ohl-c40] .single-footer-widget[_ngcontent-ohl-c40] .list[_ngcontent-ohl-c40] {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.footer-area[_ngcontent-ohl-c40] .single-footer-widget[_ngcontent-ohl-c40] h3[_ngcontent-ohl-c40] {
  position: relative;
  margin-bottom: 25px;
  padding-bottom: 10px;
  border-bottom: 1px solid #192129;
  color: #fff;
  font-size: 24px;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.footer-area[_ngcontent-ohl-c40] .single-footer-widget[_ngcontent-ohl-c40] .footer-contact-info[_ngcontent-ohl-c40] {
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
.footer-area[_ngcontent-ohl-c40] .single-footer-widget[_ngcontent-ohl-c40] .footer-contact-info[_ngcontent-ohl-c40] li[_ngcontent-ohl-c40] {
  position: relative;
  color: #e4e4e4;
  margin-bottom: 8px;
  line-height: 1.7;
  font-size: 15px;
}

.footer-area[_ngcontent-ohl-c40] .single-footer-widget[_ngcontent-ohl-c40] .list[_ngcontent-ohl-c40] li[_ngcontent-ohl-c40] a[_ngcontent-ohl-c40] {
  color: #e4e4e4;
  display: inline-block;
}
.footer-area[_ngcontent-ohl-c40] .single-footer-widget[_ngcontent-ohl-c40] .list[_ngcontent-ohl-c40] li[_ngcontent-ohl-c40] {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 300;
}
.footer-area[_ngcontent-ohl-c40] .single-footer-widget[_ngcontent-ohl-c40] .logo[_ngcontent-ohl-c40] p[_ngcontent-ohl-c40] {
  margin-top: 20px;
  margin-bottom: 0;
  color: #e4e4e4;
  font-size: 15px;
}

.footer-area[_ngcontent-ohl-c40] .single-footer-widget[_ngcontent-ohl-c40] {
  margin-bottom: 30px;
}
.footer-area[_ngcontent-ohl-c40] .copyright-area[_ngcontent-ohl-c40] p[_ngcontent-ohl-c40] {
  color: #e4e4e4;
}